# Build directories
build/
cmake-build-*/

# Compiled Object files
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib
*.la
*.lo

# Executables
*.exe
*.out
*.app
circular-buffer
test-circular-buffer

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Catch2 test results
*.xml
